In [11]:
import pandas as pd
import requests

In [15]:
url='http://www.worldometers.info/gdp/gdp-by-country/' #url for the given webpage

In [17]:
data=requests.get(url).text #call the api using the get method and store the
                        # output of the API call in a variable called data

In [18]:
df_list=pd.read_html(data) #Read HTML tables into a list of DataFrame objects.
df_list

[       #                   Country  GDP (nominal, 2017)     GDP (abbrev.)  \
 0      1             United States  $19,485,394,000,000  $19.485 trillion
 1      2                     China  $12,237,700,479,375  $12.238 trillion
 2      3                     Japan   $4,872,415,104,315   $4.872 trillion
 3      4                   Germany   $3,693,204,332,230   $3.693 trillion
 4      5                     India   $2,650,725,335,364   $2.651 trillion
 5      6            United Kingdom   $2,637,866,340,434   $2.638 trillion
 6      7                    France   $2,582,501,307,216   $2.583 trillion
 7      8                    Brazil   $2,053,594,877,013   $2.054 trillion
 8      9                     Italy   $1,943,835,376,342   $1.944 trillion
 9     10                    Canada   $1,647,120,175,449   $1.647 trillion
 10    11                    Russia   $1,578,417,211,937   $1.578 trillion
 11    12               South Korea   $1,530,750,923,149   $1.531 trillion
 12    13                 Australia   $1,323,421,072,479   $1.323 trillion
 13    14                     Spain   $1,314,314,164,402   $1.314 trillion
 14    15                    Mexico   $1,150,887,823,404   $1.151 trillion
 15    16                 Indonesia   $1,015,420,587,285   $1.015 trillion
 16    17                    Turkey     $851,549,299,635      $852 billion
 17    18               Netherlands     $830,572,618,850      $831 billion
 18    19              Saudi Arabia     $686,738,400,000      $687 billion
 19    20               Switzerland     $678,965,423,322      $679 billion
 20    21                 Argentina     $637,430,331,479      $637 billion
 21    22                    Sweden     $535,607,385,506      $536 billion
 22    23                    Poland     $526,465,839,003      $526 billion
 23    24                   Belgium     $494,763,551,891      $495 billion
 24    25                  Thailand     $455,302,682,986      $455 billion
 25    26                      Iran     $454,012,768,724      $454 billion
 26    27                   Austria     $416,835,975,862      $417 billion
 27    28                    Norway     $399,488,897,844      $399 billion
 28    29      United Arab Emirates     $382,575,085,092      $383 billion
 29    30                   Nigeria     $375,745,486,521      $376 billion
 ..   ...                       ...                  ...               ...
 160  161               Timor-Leste       $2,954,621,000     $2.95 billion
 161  162                     Aruba       $2,700,558,659     $2.70 billion
 162  163                   Lesotho       $2,578,265,358     $2.58 billion
 163  164                    Bhutan       $2,528,007,911     $2.53 billion
 164  165  Central African Republic       $1,949,411,659     $1.95 billion
 165  166                    Belize       $1,862,614,800     $1.86 billion
 166  167                Cabo Verde       $1,772,706,451     $1.77 billion
 167  168               Saint Lucia       $1,737,504,296     $1.74 billion
 168  169                San Marino       $1,632,860,041     $1.63 billion
 169  170  Northern Mariana Islands       $1,593,000,000     $1.59 billion
 170  171       Antigua and Barbuda       $1,510,084,751     $1.51 billion
 171  172                Seychelles       $1,497,959,569     $1.50 billion
 172  173                    Gambia       $1,489,464,788     $1.49 billion
 173  174             Guinea-Bissau       $1,346,841,897     $1.35 billion
 174  175           Solomon Islands       $1,303,453,622     $1.30 billion
 175  176                   Grenada       $1,126,882,296     $1.13 billion
 176  177                   Comoros       $1,068,124,330     $1.07 billion
 177  178       Saint Kitts & Nevis         $992,007,403      $992 million
 178  179                   Vanuatu         $862,879,789      $863 million
 179  180                     Samoa         $840,927,997      $841 million
 180  181  St. Vincent & Grenadines         $785,222,509      $785 million
 181  182            American Samoa         $634,000,000      $634 million
 182  183                  Dominica         $496,727,000      $497 million
 183  184                     Tonga         $427,659,795      $428 million
 184  185       Sao Tome & Principe         $392,570,293      $393 million
 185  186                Micronesia         $336,427,500      $336 million
 186  187                     Palau         $289,823,500      $290 million
 187  188          Marshall Islands         $204,173,430      $204 million
 188  189                  Kiribati         $185,572,502      $186 million
 189  190                    Tuvalu          $39,731,317       $40 million

     GDP growth  Population (2017) GDP per capita Share of World GDP
 0        2.27%          325084756        $59,939             24.08%
 1        6.90%         1421021791         $8,612             15.12%
 2        1.71%          127502725        $38,214              6.02%
 3        2.22%           82658409        $44,680              4.56%
 4        6.68%         1338676785         $1,980              3.28%
 5        1.79%           66727461        $39,532              3.26%
 6        1.82%           64842509        $39,827              3.19%
 7        0.98%          207833823         $9,881              2.54%
 8        1.50%           60673701        $32,038              2.40%
 9        3.05%           36732095        $44,841              2.04%
 10       1.55%          145530082        $10,846              1.95%
 11       3.06%           51096415        $29,958              1.89%
 12       1.96%           24584620        $53,831              1.64%
 13       3.05%           46647428        $28,175              1.62%
 14       2.04%          124777324         $9,224              1.42%
 15       5.07%          264650963         $3,837              1.25%
 16       7.44%           81116450        $10,498              1.05%
 17       3.16%           17021347        $48,796              1.03%
 18      -0.86%           33101179        $20,747              0.85%
 19       1.09%            8455804        $80,296              0.84%
 20       2.85%           43937140        $14,508              0.79%
 21       2.29%            9904896        $54,075              0.66%
 22       4.81%           37953180        $13,871              0.65%
 23       1.73%           11419748        $43,325              0.61%
 24       3.91%           69209810         $6,579              0.56%
 25       3.76%           80673883         $5,628              0.56%
 26       3.04%            8819901        $47,261              0.52%
 27       1.92%            5296326        $75,428              0.49%
 28       0.79%            9487203        $40,325              0.47%
 29       0.81%          190873244         $1,969              0.46%
 ..         ...                ...            ...                ...
 160     -8.00%            1243258         $2,377              0.00%
 161      1.33%             105366        $25,630              0.00%
 162     -2.29%            2091534         $1,233              0.00%
 163      4.63%             745563         $3,391              0.00%
 164      4.30%            4596023           $424              0.00%
 165      1.44%             375769         $4,957              0.00%
 166      4.01%             537498         $3,298              0.00%
 167      3.82%             180954         $9,602              0.00%
 168      1.50%              33671        $48,495              0.00%
 169     25.14%              56562        $28,164              0.00%
 170      3.03%              95426        $15,825              0.00%
 171      5.28%              96418        $15,536              0.00%
 172      4.56%            2213889           $673              0.00%
 173      5.92%            1828145           $737              0.00%
 174      3.24%             636039         $2,049              0.00%
 175      5.06%             110874        $10,164              0.00%
 176      2.71%             813892         $1,312              0.00%
 177      1.17%              52045        $19,061              0.00%
 178      4.50%             285510         $3,022              0.00%
 179      2.70%             195352         $4,305              0.00%
 180      0.86%             109827         $7,150              0.00%
 181     -5.38%              55620        $11,399              0.00%
 182     -9.53%              71458         $6,951              0.00%
 183      2.70%             101998         $4,193              0.00%
 184      3.87%             207089         $1,896              0.00%
 185      3.20%             532899           $631              0.00%
 186     -3.57%              17808        $16,275              0.00%
 187      3.60%              58058         $3,517              0.00%
 188      0.33%             114158         $1,626              0.00%
 189      3.24%              11370         $3,494              0.00%

 [190 rows x 8 columns]]

In [20]:
df=df_list[0] #creating dataframe from the list of dataframe objects
df.head()

,#,Country,"GDP (nominal, 2017)",GDP (abbrev.),GDP growth,Population (2017),GDP per capita,Share of World GDP
0,1,United States,"$19,485,394,000,000",$19.485 trillion,2.27%,325084756,"$59,939",24.08%
1,2,China,"$12,237,700,479,375",$12.238 trillion,6.90%,1421021791,"$8,612",15.12%
2,3,Japan,"$4,872,415,104,315",$4.872 trillion,1.71%,127502725,"$38,214",6.02%
3,4,Germany,"$3,693,204,332,230",$3.693 trillion,2.22%,82658409,"$44,680",4.56%
4,5,India,"$2,650,725,335,364",$2.651 trillion,6.68%,1338676785,"$1,980",3.28%